html {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    color: rgb(44, 44, 44);
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #18a7f9;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 0.8rem;
    font-weight: 800;
    letter-spacing: 3px;
    color: #18a7f9;
    font-family: 'Raleway', sans-serif;
}

.nav-link:hover{
    color: rgb(145, 145, 145);
}

.nav-logo {
    font-size: 1.5rem;
    font-weight: 900;
    letter-spacing: 2px;
    color: #18a7f9;
    font-family: 'League Spartan', sans-serif;
}

.nav-logo:hover {
    color: rgb(110, 110, 110);
    cursor: pointer;
}


/* Welcome Page Content */
.welcome-page {
    padding: 80px 25px;
    text-align: center;
}

.welcome-page h1 {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 2px;
    color: #18a7f9;
    font-family: 'League Spartan', sans-serif;
    margin-bottom: 20px;
}

.welcome-page h2 {
    margin-top: 50px;
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: 1px;
    color: #18a7f9;
    font-family: 'League Spartan', sans-serif;
    margin-bottom: 40px;
}

.welcome-page h3 {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1px;
    color: #18a7f9;
    font-family: 'League Spartan', sans-serif;
    margin-bottom: 20px;
}

.welcome-page-h3 {
    padding: 0px 20px;
}

@media only screen and (max-width: 900px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        z-index: 1;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* Signup / Login code */
* {box-sizing: border-box;}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {
  font-size: 1rem;
  background-color: #18a7f9;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  background-color: #6fcaff;
  opacity:1;
}

/* Add padding to container elements */
.signup-container {
  padding: 16px;
}

.body-sign-up h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

/* Modal Content/Box */
.signup-content {
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}


/* My Profile page */
.profile-holder {
    min-width: 400px;
    padding: 50px;
    border-radius: 25px;
    background-color: #e4f5ff;
    margin: auto;
    width: 50%;
    margin-bottom: 20px;
}

.profile-holder h1 {
    font-size: 2rem;
    margin-bottom: 30px;
    letter-spacing: 3px;
    font-family: 'Raleway', sans-serif;
}

.profile-holder h2 {
    font-size: 1.1rem;
    letter-spacing: 3px;
    margin: 20px 0 15px 0;
    font-weight: 500;
}

.profile-holder img {
    width: 100%;
    margin: auto;
    border-radius: 50%;
    margin-bottom: 20px;
    filter: drop-shadow(0 0 0.75rem white);
}

.profile-holder label {
    letter-spacing: 2px;
}

.profile-holder input {
    margin-bottom: 5px;
}

.choose-focus-unit button {
    margin-top: 20px;
}


/* Explore page */

.explore-container {
    overflow: hidden;
    margin: auto;
    background: white;
    padding: 40px;
}

.explore-container h1, .invited-users h1, .accepted-users h1{
    font-size: 1.6rem;
    margin-bottom: 30px;
    letter-spacing: 3px;
    font-weight: 600;
}

.explore-container p {
    font-size: 1rem;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.scroll-matches {
    overflow-y: auto;
    overflow-x: hidden;
    height: 300px;
    margin: 0 auto;
    margin-top: 40px;
}

.user-preview {
    border-radius: 25px;
    background-color: white;
    padding: 15px;
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.user-preview h2 {
    font-size: 1.4rem;
    margin-bottom: 10px;
    letter-spacing: 3px;
}

.user-preview h3 {
    font-size: 1.4rem;
    
}

.user-preview img {
    width: 20%;
    border-radius: 50%;
    margin-right: 20px;
}

.user-preview p {
    letter-spacing: 1.5px;
}

.user-studying {
    color: green;
    font-weight: 600;
}

.user-cramming {
    color: rgb(255, 134, 14);
    font-weight: 600;
}

.invited-users, .accepted-users {
    padding: 40px;
}

.explore-container, .invited-users, .accepted-users {
    border-radius: 20px;
    background-color: #e4f5ff;
    margin: 0 20px;
    margin-bottom: 40px;
}


