{% extends 'base.html' %}

{% block content %}

<body>
    <div class="welcome-page">
        <h1>Studying alone?</h1>
        <h1>Cramming an assignment?</h1>
        <h1><span class="bolden">You're not alone</span></h1> 
    </div>
    <div class="image">
        <img id="student-book" src="/static/image/student-book.jpg">
        <img id="jacaranda-1" src="/static/image/jacaranda1.jpg">
    </div>
    <div class="welcome-page">
        <h2><a href="signUp1">Sign up now</a></h2>
        <h2>to meet your Study Buddy</h2>
        <div class="welcome-page-h3">
            <h3>Whether you want to meet someone who's studying the same thing...</h3>
            <h3>Or just want to have some company</h3>
        </div>
    </div>
    <div class="image-content-2">
        <img id="jacaranda-2" src="/static/image/jacaranda2.jpg">
        <img id="student_phone" src="/static/image/student_phone.jpg">
    </div>

    <script src="/static/script.js"></script>
</body>

{% endblock %}