{% extends 'base.html' %}

{% block content %}

<body class="body-sign-up">
    <form class="signup-content" action="/signup/SignUpInfo">
        <div class="signup-container">
            <h1>Login</h1>
            <hr>

            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="abcd1234@uni.sydney.edu.au" name="email" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>
    
            <button type="submit" class="signupbtn">Login</button>
        </div>
    </form>
    
    </body>

{% endblock %}